<button class="mui-btn mui-btn--fab mui-btn--primary" id="modal-btn">+</button>

<!-- <form class="mui-form" id="form-auth">
  <legend>Authorization by Email</legend>
  <div class="mui-textfield">
    <input type="email" id="user-email" placeholder="Email" required />
  </div>
  <div class="mui-textfield">
    <input
      type="password"
      id="user-password"
      placeholder="Password"
      required
      minlength="6"
    />
  </div>
  <button type="submit" class="log-in mui-btn mui-btn--raised">Log In</button>
  <button type="submit" class="create-account mui-btn mui-btn--primary">
    Create account
  </button>
</form> -->
